language: scala

scala:
  - 2.12.1

jdk:
  - oraclejdk8

script:
  - travis_wait 30 sbt ++$TRAVIS_SCALA_VERSION clean coverage test coverageReport

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email: false
